<!DOCTYPE html>
<html>
    <head>
        <title>
            Classroom
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
           <div class="fluid-container">
             <div class="row" id="BarraMenu">
                <div class="col-md">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="/">Classroom</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/login/alumno">Iniciar como Alumno</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/login/maestro">Iniciar como Maestro</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
           </div>
            <div class="container">
                <h1 id="error-interno">Error interno</h1>
                <p>Lo siento mucho, pero no estoy seguro de que rayos paso. Puede ser que el servidor este sobrecargado.
                    O puede que hayas encontrado un error en mi codigo.</p>
                <p>Prueva revisitar el sitio, si el error ocurre otra vez, regrese mas tarde. Si navega correctamente,
                    te ruego que intentes recrear el error, y me cuentes
                    <a href="https://github.com/Polo123456789/PracticaSupervisada/issues">aqui</a> como fue que llegaste
                    a esto. Asi vamos mejorando el sitio.</p>
            </div>
    </body>
</html>
