{% extends "base.html" %}

{% block contenido %}
{% if tarea and entrega %}
    <div class="row">
        <h1>Tarea</h1>
        <hr>
    </div>
    <div class="row">
        <h2>{{ tarea.Titulo }}</h2>
    </div>
    <div class="row">
        <p>
             {{ tarea.Descripcion }}
        </p>
    </div>
    <div class="row">
        {% if tarea.PathAdjuntos != "SinArchivo" %}
            <p><a href="/file/{{ tarea.PathAdjuntos }}" class="btn btn-dark">{{ tarea.PathAdjuntos }}</a></p>
        {% endif %}
    </div>
    <div class="row">
        <br>
        <h1>Entrega</h1>
    </div>
    <div class="row">
        <p><strong>Respuesta:</strong> {{ entrega.Respuesta }}</p>
    </div>
    <div class="row">
        {% if entrega.PathAdjuntos != "SinArchivo" %}
            <p><a href="/file/{{ entrega.PathAdjuntos }}" class="btn btn-dark">{{ entrega.PathAdjuntos }}</a></p>
        {% endif %}
    </div>
    <div class="row">
        <form action="/calificar/{{ entrega.Id }}" method="POST">
            <table class="table">
                <tr>
                    <th>Nota (Sobre 100)</th>
                    <th><input type="number" name="nota" required></th>
                </tr>
                <tr>
                    <th></th>
                    <th><input type="submit" value="Enviar Nota"></th>
                </tr>
            </table>
        </form>
    </div>
{% else %}
    <h1>Sea lo que estes haciendo, para amigo. Recuerda que se quien eres. Deja de hacer cosas que no te tocan</h1>
{% endif %}

{% endblock %}
