{% extends "base.html" %}

{% block contenido %}
<br>
<h1>Alumno</h1>
<p>Esta es la lista de alumnos. Presione editar para cambiar los datos de los alumnos</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre Usuario</th>
        <th>Nombre</th>
        <th>Correo Electronico</th>
        <th>Telefono de Padres</th>
        <th>IdGrado</th>
        <th></th>
    </tr>
    {% for alumno in alumnos %}
    <tr>
        <td>{{ alumno.Id }}</td>
        <td>{{ alumno.NombreUsuario }}</td>
        <td>{{ alumno.Nombre }}</td>
        <td>{{ alumno.CorreoElectronico }}</td>
        <td>{{ alumno.TelefonoPadres }}</td>
        <td>{{ alumno.IdGrado }}</td>
        <td><a class="btn btn-secondary" href="/gestionDeUsuarios/actualizarA/{{ alumno.Id }}">Modificar</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}