{% extends "base.html" %}

{% block contenido %}
<h1 id="classroom">Classroom</h1>
<img src="https://1.bp.blogspot.com/_l9544I5Arvk/TLW7u9lZPcI/AAAAAAAALTU/qPyNh3Vvmkw/s280/el+prado.jpg"/>
<p>En estos tiempos complicados, como no puedes ir al colegio, traeremos
el colegio a tu casa. La meta de este proyecto es traer a las escuelas un
método simple para que se pueda enviar y recibir las tareas de parte de
los alumnos. Ademas de fácilmente saber como van las zonas, tanto para el
maestro como para el alumno.</p>
<h2 id="tutorial">Tutorial</h2>
<p>Si esta viendo esto, probablemente acaba de clonar el repositorio del
código, y es la primera vez que lo esta corriendo. Esto es lo que tiene
que hacer para empezar a utilizarlo en su colegio.</p>
<h4 id="detalles-previos">Detalles previos</h4>
<p>La interfaz gráfica es bastante simple, el alumno puede ver sus tareas
pendientes, terminarlas, adjuntar documentos a las mismas, y ver sus notas.
El profesor puede crear tareas para su clase, y calificarlas. El administrador
tendrá una cuenta de profesor, con acceso a la base de datos.</p>
<p>La cuenta que viene por default es con el nombre de usuario <code>root</code>,
y con la contraseña <code>toor</code>. Lo primero que tiene que hacer una
vez inicie sesión, es darle clic al botón de actualizar donde este la sección
de maestros, y cambiar el nombre de usuario y contraseña. Ya con el sitio
asegurado, empecemos a montar nuestra clase en linea.</p>
<p><strong>Nota:</strong> Yo recomendaría crear 2 o 3 cuentas de administrador,
para dividir el trabajo.</p>
<h3 id="creación-de-los-grados">Creación de los grados</h3>
<blockquote>
<p>Al iniciar sesión, diríjase a grados -&gt; añadir.</p>
</blockquote>
<p>El grado sera nuestra unidad básica, ya que los alumnos se separaran
por grados, y las clases también. Ingrese unicamente el nombre del grado.
Ejemplos:</p>
<ul>
<li>1ero Primaria A</li>
<li>3ro Básico B</li>
<li>V Bachillerato en Computación</li>
</ul>
<h3 id="creación-de-los-maestros">Creación de los maestros</h3>
<blockquote>
<p>Al iniciar sesión, diríjase a maestros -&gt; añadir.</p>
</blockquote>
<p>Ingrese los datos que se pidan del maestro, consultando con el primero
que contraseña desea. Aquí lo único que tenemos que hacer notar, es que
el correo, al que ingrese al crear el maestro, se va a enviar un mensaje
cada vez que un alumno complete una tarea. Si el maestro considera que esto
es innecesario, ponga como correo “N/A”.</p>
<h3 id="el-resto-lo-hago-despues">El resto lo hago despues</h3>
{% endblock %}
