{% extends "base.html" %}

{% block contenido %}
<h1>Tareas</h1>
<p>Estas son las tareas que tiene pendientes</p>
{% for tarea in tareas %}
        <div class="row">
            <div class="col-lg">
                <div class="jumbotron">
                    <h1 class="display-4">{{ tarea.Titulo }}</h1>
                    <hr class="my-4">
                    <p>{{ tarea.Descripcion }}</p>
                    <a class="btn btn-primary btn-lg" href="/tareas/{{ tarea.Id }}" role="button">Resolver</a>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}
