{% extends "base.html" %}

{% block contenido %}
    <br>
    <h1>Grado</h1>
    <p>Puede cambiar el nombre del grado</p>

    {% if grado %}
    <form action="/gestionDeUsuarios/actualizarG/{{ grado.Id }}" method="post">
        <table class="table">
            <tr>
                <th>Grado</th>
                <th><input id="Caja" type="text" name="grado" value="{{ grado.Grado }}" required/></th>
            </tr>
        </table>
        <input id="Subir" type="submit" value="Modificar Grado" disabled/>
    </form>
    {% else %}
    <h1>
        No se que haces, pero si te pones a trastear mas, vas a romper el sitio
    </h1>
    {% endif %}

{% endblock %}
