{% extends "base.html" %}

{% block contenido %}
    <br>
    <h1>Grado</h1>
    <p>Ingrese unicamente el nombre del grado</p>
    <h4>Ejemplos:</h4>
    <ul>
        <li>V Bachillerato en Ciencias y Letras</li>
        <li>1ero Primaria A</li>
        <li>2do Basico B</li>
    </ul>

    <form action="/gestionDeUsuarios/anadirG" method="post">
        <table class="table">
            <tr>
                <th>Grado</th>
                <th><input id="Caja" type="text" name="grado" required/></th>
            </tr>
        </table>
        <input id="Subir" type="submit" value="Añadir Grado" />
    </form>

{% endblock %}

