{% extends "base.html" %}

{% block contenido %}
    <br>
    <h1>Tarea</h1>
    <p>De los datos de la tarea</p>

    <form action="/crear_tareas/{{ id }}" method="post" enctype=multipart/form-data>
        <table class="table">
            <tr>
                <th>Titulo:</th>
                <th><input type="text" name="titulo" id="titulo" required/></th>
            </tr>
            <tr>
                <th>Descripcion</th>
                <th><textarea rows="6" cols="60" name="descripcion" maxlength="120"></textarea></th>
            </tr>
            <tr>
                <th>Adjuntos</th>
                <th><input type="file" name="file"/></th>
            </tr>
        </table>
        <input type="submit" value="Añadir la Tarea" id="boton" />
    </form>
{% endblock %}
