{% extends "base.html" %}

{% block contenido %}
    <br>
    <form action="/gestionDeUsuarios/anadirC" method="post">
        <input type="submit" value="Añadir Clase"/>
    </form>
    <p>Esta es la lista de grados disponibles para asignar las clases.</p>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Grado</th>
            <th></th>
        </tr>
        {% for grado in grados %}
        <tr>
            <td>{{ grado.Id }}</th>
            <td>{{ grado.Grado }}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
