{% extends "base.html" %}

{% block contenido %}
    <br>
    <h1>Alumnos</h1>
    <p> Ingrese los datos del alumno</p>

    <form action="/gestionDeUsuarios/anadirA" method="post">
        <table class="table">
            <tr>
                <th>Nombre de Usuario</th>
                <th><input type="text" name="nombreUsuario" id="nombreUsuario" required/></th>
            </tr>
            <tr>
                <th>Contraseña</th>
                <th><input type="text" name="contrasena" id="contrasena" required/></th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th><input type="text" name="nombre" id="nombre" required/></th>
            </tr>
            <tr>
                <th>Correo Electronico</th>
                <th><input type="email" name="correoElectronico" id="correoElectronico" required /></th>
            </tr>
            <tr>
                <th>Telefono de los padres</th>
                <th><input type="text" name="telefonoPadres" id="telefonoPadres" required/></th>
            </tr>
            <tr>
                <th>Id Grado</th>
                <th><input type="number" name="idGrado" id="idGrado" required/></th>
            </tr>
        </table>
        <input type="submit" value="Añadir alumno" id="boton" />
    </form>
    <br>
    <h4>Grados</h4>
    <p>Estos son los grados en los que puede estar el alumno</p>
    <table class="table">
        {% for grado in grados %}
        <tr>
            <td>{{ grado.Id }}</th>
            <td>{{ grado.Grado }}</th>
            <td><button type="button" class="btn btn-dark" onclick="setId({{ grado.Id }});">Usar este grado</button></th>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block script%}
    <script>
     function setId(id) {
         document.getElementById("idGrado").value = id
     }
    </script>
{% endblock %}

