<!DOCTYPE html>
<html>
    <head>
        <title>
            Classroom
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        {% block script%}
        {% endblock %}
    </head>
    <body>
           <div class="fluid-container">
             <div class="row" id="BarraMenu">
                <div class="col-md">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">Classroom</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                {% if type=="Alumno" %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/tareas">Tareas Pendientes</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/notas">Notas</a>
                                    </li>
                                {% elif type== "Profe" %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/crear_tareas">Crear Tareas</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/calificar">Calificar</a>
                                    </li>
                                {% elif type=="Admin" %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/gestionDeUsuarios">Gestionar Usuarios</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/mantenimiento">Mantenimiento</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/login/alumno">Iniciar como Alumno</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/login/maestro">Iniciar como Maestro</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
           </div>
            <div class="container">
                {% block contenido %}
                {% endblock %}
            </div>
    </body>
</html>
