{% extends "base.html" %}

{% block contenido %}
<br>
<h1>Maestros</h1>
<p>Esta es la lista de maestros. Presione editar para cambiar los datos del maestro</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre de usuario</th>
        <th>Nombre</th>
        <th>Correo Electronico</th>
        <th>Admin</th>
        <th></th>
    </tr>
    {% for maestro in maestros %}
    <tr>
        <td>{{ maestro.Id }}</th>
        <td>{{ maestro.NombreUsuario }}</th>
        <td>{{ maestro.Nombre }}</th>
        <td>{{ maestro.CorreoElectronico }}</th>
        <td>{{ maestro.Admin }}</th>
        <td><a class="btn btn-secondary" href="/gestionDeUsuarios/actualizarM/{{ maestro.Id }}">Modificar</a></th>
    </tr>
    {% endfor %}
</table>
{% endblock %}
